/* ALL CODE WRITTEN BY MITCHELL KARMEN AND MEGAN BUTLER */

* {
  background-color: #646464;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

h1 {
  font-family: Oswald, serif;
}

p {
  font-family: Roboto, sans-serif;
}

#heading {
  width: 100%;
  border: 5px solid black;
}


.navigation {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
  border: 1px solid black;
}
.navigation li a {
  background-color: #808080;
  padding: 8px 15px;
  font-weight: 800;
  border: 1px solid black;
	float: left;
}
.navigation li a:hover {
		color: #c00;
		background-color: #fff; }
