/* ALL CODE WRITTEN BY MITCHELL KARMEN AND MEGAN BUTLER */

* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

head {
  text-align: center;
  margin:0;
  padding:0;
}

h1 {
  font-family: Oswald, serif;
  text-align: center;
}

p {
  font-family: Roboto, sans-serif;
}

ul {

}

li {

}

body {
  background-color: #777777;
}

#heading {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  font-size: 24px;
  width: 100%;
  border: 5px solid black;
  display: block;
}


.navigation {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
}
.navigation li a {
  font-family: Open Sans, sans-serif;
  color: lightgrey;
  font-size: 18px;
  background-color: black;
  padding: 8px 15px;
  font-weight: bolder;
  text-decoration: none;
  margin: auto;
  text-align: center;
  width: 16.66%;
	float: left;
}

.navigation li a:hover {
  color: black;
	background-color: #E0D32C !important;
  }
