* {
  background-color: #646464;
}

h1 {
  font-family: Oswald, serif;
}

p {
  font-family: Roboto, sans-serif;
}

div.Navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

#heading {
  margin: auto;
  text-align: center;
  display:block;
  width: 100%;
  border: 5px solid black;
}
